// page.less, smd-js/ssad_app/style/

.smd_js {
  // page boxs
  .page_welcome, .page_main, .page_about, .page_io, .page_select_file {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  // page welcome
  .page_welcome {
    .pad {
      margin: 1rem;
    }
  }

  // page input_output
  .page_io {
    form {
      flex: 1;
      margin: 1rem;

      display: flex;
      flex-direction: column;

      .form-group {
        flex: 1;

        display: flex;
        flex-direction: column;

        textarea {
          flex: 1;
          resize: none;

          border-color: @co_text_sec;
          color: @co_bg_input;
          // FIXME
          background-color: #222;
        }
      }
    }
  }

  // TODO
}
